__pycache__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# IDEs
.vscode

# Coverages
.scannerwork/
*-reports/**
.coverage
coverage.xml

# Koswat ignore
tests/test_results/
tests/test_data/issues/
site/
*.log

# Local configurations files covered in pyproject.toml
pytest.ini # pixi environments
.pixi/*
!.pixi/config.toml
# pixi environments
.pixi/*
!.pixi/config.toml
